<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
    <!-- 어노테이션 기반설정 사용 -->
	<context:annotation-config/>
	<!-- 컴포넌트 자동등록 -->
	<context:component-scan base-package="com.bitacademy.myportal.contoller"></context:component-scan>
	
	<mvc:annotation-driven>
		<!--  메세지 컨버터  -->
		<mvc:message-converters>
			<bean class= "org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<!-- 컨버터가 지원할 미디어 타입 -->
				<property name="supportedMediaTypes">
					<list>
						<!-- Map, 자바 빈 객체 JSON으로 변환  -->
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			
		</mvc:message-converters>
	</mvc:annotation-driven><!-- DefaultServlet에게 위임 -->
	<mvc:default-servlet-handler/> <!--  정적 자원 처리 담당 -->
	<!-- View Resolver -->
	<bean id="viewResolver"
		class= "org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name ="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<!-- Viewname 접두어 -->	
		<property name ="prefix" value="/WEB-INF/views/"/>
		<!--  접미어 -->
		<property name ="suffix" value = ".jsp"/>
		<!--  ViewResolver 여러개 등록 가능 , 우선순위 지정가능 -->
		<property name = "order" value = "1"/>
	</bean>
	
	<!--  Interceptors  -->
	<mvc:interceptors>
		<!--  순서대로 적용 -->
		<!-- <mvc:interceptor>
			 /board 하위 모든 url에 Interceptor 적용 
			<mvc:mapping path="/board/**"/>
			<bean class="com.bitacademy.myportal.interceptors.MyInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/board/**"/>
			<bean class="com.bitacademy.myportal.interceptors.MyInterceptors2"/>
		</mvc:interceptor> -->
		<mvc:interceptor>
			<mvc:mapping path="/board/**"/>
			<mvc:exclude-mapping path="/board/list/**"/> 
			<mvc:exclude-mapping path="/board/"/> 
			<mvc:exclude-mapping path="/board"/> 
			<bean class="com.bitacademy.myportal.interceptors.AuthInterceptor"/>
		</mvc:interceptor>		
	</mvc:interceptors>
	
	<!--  Multipart Resolver  -->
	<bean id = "multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대 10mb -->
		<property name = "maxUploadSize" value = "10485760"/>
		<!-- defaultEncoding -->
		<property name = "defaultEncoding" value = "utf-8"/>		
		
	</bean>
</beans>
